<div id="<%= dom_id funcionario %>">
  <p>
    <strong>Nome:</strong>
    <%= funcionario.nome %>
  </p>

  <p>
    <strong>Matricula:</strong>
    <%= funcionario.matricula %>
  </p>

  <p>
    <strong>Funcao:</strong>
    <%= funcionario.funcao %>
  </p>

</div>
