<div class= "row  div-flex">
	<div class="col-4">
		<div class="card">
  			<div class="card-header" style="text-align: center;">
			  	<h6 style="margin-bottom: 0px">Editar Funcionario</h6>
			</div>
			<div class="card-body">
				<%= render "form",  funcionario: @funcionario %>  	
			</div>
		</div>

	</div>
</div>
<br>
