
<div class="row">
<div class="col-4"></div>
<div class="col-4">
  <div class="card caixa-sombra" >
       <div class="card-header" style="text-align: center"> <strong>Novo funcionário</strong>
</div>

<div class="card-body">

<%= render "form", funcionario: @funcionario %>
</div>
</div>
  </div>

<div class="col-4"></div>
</div>

<br>

<div>
  <%= link_to "Voltar", funcionarios_path %>
</div>


